{% extends "inicio/encabezado.html" %}
        {% block titulo %} Principal {% endblock %}
    {%block imagen%}
        {%load static%}
        {%static 'inicio/images/home.png'%}
    {%endblock%}
    {%block subtexto%} Principal {%endblock%}
    {%block span%} DMS {%endblock%}
        <!--MENU-->

        <!--Contenido-->
    {% block contenido %} <!--Template Tag-->


{%block encabezado%}
			<!--Encabezdo -->
					<h3>Alumnos
				    <small>Lista de Alumnos </small></h3>
			<!-- /Encabezado-->
{%endblock%}


    {% endblock %}